# PyCharm
.idea
codenameapp/__pycache__

# Jupyter Lab
notebook

# Virtual environment Python
venv

# Config Visual Studio Code
.vscode

__pycache__
requirements.txt
flask_session

# files to test html css design
test.html
test.css
