[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
numpy = "*"
gunicorn = "*"
eventlet = "*"
flask = "*"
flask-socketio = "*"
werkzeug = "<1"
flask-Session = "<0.3.2"
flask-wtf = "*"
colorama = "*"

[requires]
python_version = "3.7"
