[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
matplotlib = "*"
opencv-python = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
eventlet = "*"
flask-socketio = "*"

[requires]
python_version = "3.7"
