@font-face {
    font-family: AllertaStencil;
    src: url(/static/fonts/AllertaStencil/AllertaStencil-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Poppins;
    src: url(/static/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: PressStart2P;
    src: url(/static/fonts/Press_Start_2P/PressStart2P-Regular.ttf) format('truetype');
}

body{
    font-family: Poppins;
    background: #005580;
}

.navbar
{
    background-color: #073b4c;
}

.toast
{
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    text-align: center;
    width: 40%;
    max-width: 60%;
    left: 30%;
}