html, body {
  height: 100%;
  margin: 0;
}
body{ background: #228; }
h1
{
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
#container
{
    display: flex;
}

/* Left part : teams */
#players
{
    display: flex;
    flex-direction: column;
    background: cyan;
}
.pseudo
{
    margin: 10px 40px;
    font-size: 1.5em;
}
.current-player
{
    margin-left: 50px;
    font-weight: bold;
}
.pseudo[data-team="1"]
{
    color: red;
}
.pseudo[data-team="2"]
{
    color: blue;
}

/* Center: grid */
#center
{
    background: purple;
}
table
{
    width: 70%;
    height: 50%;
    margin: auto;
    border-spacing: 30px;
    table-layout: fixed ;
}

td
{
    background: #fca;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -15px 15px grey;
}

td:hover
{
    background: #eee;
    cursor: pointer;
}
td[data-enabled="false"]
{
    cursor: not-allowed;
}
td[data-votedfor="true"]
{
    cursor: not-allowed;
}
td[data-code="0"]
{
    background: grey;
}
td[data-code="1"]
{
    background: red;
}
td[data-code="2"]
{
    background: blue;
    color: white;
}
td[data-code="3"]
{
    background: black;
    color: white;
    font: bold;
}
#controls
{
    display: flex;
    width: 10%;
    margin: auto;
}

/* Right part: events and chat */
#chats
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.msglist
{
    list-style-type: none;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}
#events
{
    height: 40%;
    background: yellow;
}
#events li {background: white;}
#events li:nth-child(odd) {background: #8f9;}
#chat
{
    height: 50%;
    background: red;
}
#messages {
    margin: 0;
    height: 90%;
}
#messages li
{
    padding: 2px 4px;
    background: white;
    overflow: visible;
}
#messages li:nth-child(odd) { background: #eee; }
#msgform
{
    display: flex;
}