body
{
    background: #228
}
h1
{
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

table
{
    width: 70%;
    height: 50%;
    margin: auto;
    border-spacing: 30px;
    table-layout: fixed ;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    background: #fca;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -15px 15px grey;
}

td:hover
{
    background: #eee;
    cursor: pointer;
}
td[data-selected="true"]
{
    cursor: not-allowed;
}
td[data-code="0"]
{
    background: grey;
}
td[data-code="1"]
{
    background: red;
}
td[data-code="2"]
{
    background: blue;
    color: white;
}
td[data-code="3"]
{
    background: black;
    color: white;
    font: bold;
}