html, body {
  height: auto;
  margin: 0;
}
body{ background: #005580; }
h1
{
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
#container
{
    display: flex;
}

/* Left part : teams */
#players
{
    display: flex;
    flex-direction: column;
    /*background: cyan;*/
}
.pseudo
{
    margin: 10px 40px;
    font-size: 1.5em;
}
.current-player
{
    margin-left: 50px;
    font-weight: bold;
}
.pseudo[data-team="1"]
{
    color: #c00;
}
.pseudo[data-team="2"]
{
    color: #0af;
}

/* Center: grid */
#center
{
    /*background: purple;*/
}
table
{
    margin: auto;
    table-layout: fixed ;
    border-collapse: initial;
    border-spacing: 2rem;
}
td
{
    background: #fca;
    background-repeat: no-repeat;
    text-align: center;
    padding: 1% 0;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5);
}
td:hover
{
    cursor: pointer;
}
td[data-enabled="false"]
{
    cursor: not-allowed;
}
td[data-votedfor="true"]
{
    cursor: not-allowed;
}
td[data-code="0"]
{
    background: grey;
}
td[data-code="1"]
{
    background: #c00;
    color: white;
}
td[data-code="2"]
{
    background: #0af;
    color: white;
}
td[data-code="3"]
{
    background: black;
    color: white;
    font: bold;
}


/* Right part: events and chat */
#chats
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;  /* Don't really like that */
}
.msglist
{
    list-style-type: none;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}
#events
{
    height: 40%;
    background: #eee;
}
#events li {background: white;}
#events li:nth-child(odd) {background: #eee;}
#chat
{
    height: 50%;
    background: #eee;
}
#messages {
    margin: 0;
    height: 90%;
}
#messages li
{
    padding: 2px 4px;
    background: white;
    overflow: visible;
}
#messages li:nth-child(odd) { background: #eee; }
#msgform
{
    display: flex;
}
#s
{
    background-image: url(/static/send.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Overwrite some bootstrap stuff */
.form-control-sm
{
    height: 1.5rem;
    line-height: 0;
}