body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.btn-avatar {
    border: none;
    background: transparent;
    margin: 1rem;
    width: 3rem;
}
#avatar-container img{
    width: 100%;
    height: auto;
}
#avatar-container
{
    width: 15%;
    margin: auto;
}

footer {
    text-align: right;
    font-style: italic;
    font-size: 0.75rem;
    padding: 5px;
    margin-top: 20px;
}

