body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

footer {
    text-align: right;
    font-style: italic;
    padding: 5px;
    margin-top: 20px;
}

#avatar-container {
    width: 30%;
    border-radius: 30px;
    background: #8af
}

#av {
    width: 240px;
    height: 120px;
    margin: auto;
    background: white;
    margin-bottom: 20px;
}
.colorpicker{
    padding: 0;
    height: 25px;
    width: 25px;
    border: none;
    margin: 1.5rem;
}
