/* h2 {
    text-align: center;
} */

.panel-group {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.size-panel {
    width: 30%;
}

.pseudo-div {
    padding: 7px 12px;
}

.red-border {
    border-color: #c9302c !important;
}

.red-bg {
    background-color: #c9302c !important;
}

.display-btn {
    width: 100%;
}

.spy-border {
    border-bottom: 1px solid transparent;
    border-color: #337ab7;
}

#start {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
#start button {
    padding: 10px;
    margin: 10px;
}
