<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>CodeName</title>
        {% endif %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}">

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div>CodeName: <a href="/">Accueil</a></div>
        <hr>

        {% block content %}{% endblock %}

        <!--  Socket IO  -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                crossorigin="anonymous"></script>

    </body>
</html>