<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>CodeName</title>
        {% endif %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}">

        {% block styles %}{% endblock %}

    </head>
    <body>
         <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CodeName</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a id="nav-new-room" class="nav-link" href="/new_room">Nouvelle partie</a>
                </li>
            </ul>
            <div class="nav-item dropdown ml-auto mr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown">
                  Nous contacter
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/contact/propose_words">Proposer des mots</a>
                    <a class="dropdown-item" href="/contact/contact_us">Autre</a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!--  Socket IO  -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                crossorigin="anonymous"></script>
         <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
         <!-- Insert scripts AFTER socketio is imported -->
        {% block scripts %}{% endblock %}
    </body>
</html>