{% extends "base.html" %}

{% block content %}
<div class="container w-50">
    <h1 class="text-center my-5">Nous contacter</h1>
    <p>Que ce soit une critique (constructive) du design, du site, ou un petit message d'amour,
        n'hésitez pas !
    </p>
    <form action="{{ url_for('send_contact_form_as_email') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.contact.label }}<br>
            {{ form.contact(size=32, class="w-100") }}
        </p>
        <p>{{ form.msg.label }}<br>
            {{ form.msg(class="w-100") }}</p>
        <p>{{ form.submit(class="ml-auto btn btn-success") }}</p>
    </form>
</div>
{% endblock %}