{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    {% if game_state.is_spy %}<link rel="stylesheet" href="{{ url_for('static', filename='css/spy.css') }}">
    {% else %}<link rel="stylesheet" href="{{ url_for('static', filename='css/guesser.css') }}">{% endif %}
{% endblock %}

{% block content %}
<div id="container" class="flex-column flex-md-row">
    <!-- Left panel : players list  -->
    <div id="players" class="mx-2 mt-5 d-none d-md-flex">
        {% for i in [1, 2] %}
            {% for player in game_state.teams[i-1] %}
            <span
                    id="{{ player.id }}"
                    data-team="{{ ''~i }}"
                    class="pseudo{% if player.id in game_state.game_instance.current_players %} current-player{% endif %} d-flex">
                <img src="{{ player.avatar_src }}" class="icon"/>
                {{ player.pseudo }}
            </span>
            {% endfor %}
        {% endfor %}
    </div>

    <!-- Center panel : grid and controls -->
    <div id="center" class="">
        <h1 id="toptitle" class="mt-md-2 mt-0" style="color: {{ game_state.title_color}}">{{ game_state.game_title|safe }}</h1>

        <table id="table" class="mb-3">
            {% for r in range(5) %}
            <tr>
                {% for c in range(5) %}
                {% set cell = 'r'~r~'c'~c %}
                <td id="{{ cell }}"
                    class="rounded"
                    data-votedfor="{%if game_state.votes_history[cell] is defined %}true{% else %}false{% endif %}"
                    data-code="{{ game_state.answers[r][c] }}"
                    data-enabled="{% if game_state.is_enabled_guesser %}true{% else %}false{% endif %}"
                >
                    {{words[r, c]}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div id="control_panel">
            {% if game_state.is_spy %}
            <form id="controls" class="form-inline flex-nowrap justify-content-center">
                <input id="hint" class="form-control form-control-sm" type="text">
                <select id="n" class="form-control form-control-sm mx-5">
                    {% for i in range(10) %}<option value="{{i}}">{{i}}</option>{% endfor %}
                </select>
                <input id="send-hint" class="btn btn-success form-control-sm"
                       type="submit" autocomplete="off" maxlength="20" {% if not game_state.is_enabled_spy %}disabled{% endif %}>
            </form>
            {% else %}
            <div class="d-flex justify-content-center">
                <input id="pass" class="btn btn-success form-control-sm" type="submit" value="passer"
                       {% if not game_state.is_enabled_guesser %}disabled{% endif %}>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Right panel : events and chat  -->
    <div id="chats" class="mx-3 flex-row flex-md-column my-2 my-md-0">
        <div id="events" class="h-50 mb-md-3 mr-2 mr-md-0">
            <ul id="events_msglist" class="msglist">
                {% for msg in events_history %}
                <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="chat" class="d-flex flex-column">
            <ul id="messages" class="msglist">
                {% for msg in chat_history %}
                <li>{{ msg }}</li>
                {% endfor %}
            </ul>
            <form id="msgform" class="form-inline flex-nowrap p-1">
                <input type="text" id="m" class="form-control form-control-sm" autocomplete="off">
                <button type="submit" id="s" class="form-control form-control-sm" value="">
                    <svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!--  Scripts  -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/grid/grid_controls.js') }}"></script>
{% if is_spy %}<script src="{{ url_for('static', filename='js/grid/spy.js') }}"></script>
{% else %}<script src="{{ url_for('static', filename='js/grid/guesser.js') }}"></script>{% endif %}

{% endblock %}