<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
</head>
<body>
    <h1 id="toptitle">{{ title }}</h1>
    <div id="container">
        <div id="players">
            {% for i in [1, 2] %}
                {% for player in teams[i-1] %}
                <span
                        id="{{ player.id }}"
                        data-team="{{ ''~i }}"
                        class="{{ 'pseudo'+(' current-player' if (i==1) and (loop.index==1) else '') }}">
                    {{ player.pseudo }}
                </span>
                {% endfor %}
            {% endfor %}
        </div>
        <div id="center">
            <table id="table">
                {% for r in range(5) %}
                <tr>
                    {% for c in range(5) %}
                    <td id={{'r'~r~'c'~c}}
                        data-votedfor="false"
                        data-code="{% if is_spy %}{{ answers[r][c] }}{% else %}-1}{% endif %}"
                        data-enabled="{% if enabled %}true{% else %}false{% endif %}"
                    >
                        {{words[r, c]}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            {% if is_spy %}
            <form id="controls">
                <input id="hint" type="text">
                <input id="n" type="number" min="0" max="9">
                <input id="send-hint" type="submit" {% if not spy_enabled %}disabled{% endif %}>
            </form>
            {% endif %}
        </div>
        <div id="chats">
            <div id="events">
                <ul id="events_msglist" class="msglist">
                </ul>
            </div>
            <div id="chat">
                <ul id="messages" class="msglist">
                </ul>
                <form id="msgform">
                    <input type="text" id="m" autocomplete="off">
                    <input type="submit" id="s" value=">">
                </form>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/grid_controls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/events_chat.js') }}"></script>
</body>
</html>