{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<h1>Bienvenue sur Code Name !</h1>


<form id="pseudo-container" class="form-inline justify-content-center">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPseudo" class="sr-only">Pseudo</label>
        <input type="text" maxlength="10" class="form-control" id="inputPseudo" placeholder="Pseudo">
    </div>
</form>
<div class="d-flex flex-column justify-content-center align-self-center w-100">
    <div id="avatar-container" class="d-flex">
        <img id="avatar" alt="avatar" title="chargement" src="{{ avatar_src }}"/>
    </div>

    <form class="form-inline justify-content-center">
        <button onclick="prevImg(); return false;" class="btn btn-avatar">
            <svg class="bi bi-arrow-left-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
            </svg>
        </button>
        <button onclick="nextImg(); return false;" class="btn btn-avatar">
            <svg class="bi bi-arrow-right-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8.354 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z"/>
            </svg>
        </button>
    </form>
</div>
<div class="align-self-center my-3">
    <button type="submit" class="btn btn-success form-control-sm" id="new-game-button">Nouvelle partie</button>
</div>
<form class="form-inline align-self-center" id="join-form">
    <input type="text" class="form-control form-control-sm mr-3" id="join-game-url"
           placeholder="Inscris le lien à rejoindre"
           value="{% if target_room_id is not none %}/{{target_room_id}}/room{% endif %}">
    <button type="submit" class="btn btn-success form-control-sm" id="join-game-button">Rejoindre une partie</button>
</form>

<footer><p>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and
    <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>
    from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p></footer>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/home.js') }}"></script>
<script src="{{url_for('static', filename='js/avatar.js') }}"></script>
{% endblock %}
