{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<h1>Bienvenue sur Code Name !</h1>


<form id="pseudo-container" class="form-inline justify-content-center">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPseudo" class="sr-only">Pseudo</label>
        <input type="text" maxlength="10" class="form-control" id="inputPseudo" placeholder="Pseudo">
    </div>
</form>
<div id="avatar-container"
     class="d-flex flex-column justify-content-center align-self-center">
    <h1>Avatar</h1>
    <div class="w-100 d-flex bg-white"><canvas id="av"></canvas></div>

    <form class="form-inline justify-content-center">
        <input type="color" value="#ffff00" id="backcol" class="colorpicker"/>
        <input type="color" value="#ff0000" id="mouthcol" class="colorpicker"/>
    </form>
</div>
<div class="align-self-center my-3">
    <button type="submit" class="btn btn-success form-control-sm" id="new-game-button">Nouvelle partie</button>
</div>
<form class="form-inline align-self-center" id="join-form">
    <input type="text" class="form-control form-control-sm mr-3" id="join-game-url"
           placeholder="Inscris le lien à rejoindre"
           value="{% if target_room_id is not none %}/{{target_room_id}}/room{% endif %}">
    <button type="submit" class="btn btn-success form-control-sm" id="join-game-button">Rejoindre une partie</button>
</form>

<footer><p>Designed with love - provided on an as-is basis, no guarantee.</p></footer>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/home.js') }}"></script>
<script src="{{url_for('static', filename='js/avatar.js') }}"></script>
{% endblock %}
