<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Name</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">
</head>
<body>
<h1>Bienvenue sur Code Name !</h1>


<div id="pseudo-container">
    <label class="inputs">Pseudo :</label>
    <input type="text" class="inputs" id="pseudo-input" placeholder="Inscris ton pseudo" maxlength="10">
</div>
<div id="avatar-container">
    <div id="avatar">
        <h1>Avatar</h1>
        <div>
            <div class="h"><canvas id="av"></canvas></div>
            <div id="avatar-controls">
                <div class="controls">
                    <input type="color" value="#ffff00" id="backcol"/>
                    <input type="submit" value="<">
                    <input type="submit" value=">">
                </div>
                <div class="controls">
                    <input type="color" value="#ff0000" id="mouthcol"/>
                    <input type="submit" value="<">
                    <input type="submit" value=">">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="home-buttons">
    <div class="one-button-area">
        <button type="submit" class="buttons" id="new-game-button">Nouvelle partie</button>
    </div>
    <div class="one-button-area">
        <input type="text" class="inputs" id="join-game-link" placeholder="Inscris le lien à rejoindre">
        <button type="submit" class="buttons" id="join-game-button">Rejoindre une partie</button>
    </div>
</div>

<footer><p>Designed with love - provided on an as-is basis, no guarantee.</p></footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/home.js') }}"></script>
<script src="{{url_for('static', filename='js/avatar.js') }}"></script>
</body>
</html>