<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Name</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Bienvenue sur Code Name !</h1>
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/new">Nouvelle partie</a></li>
        <li><a href="/">A propos</a></li>
        <li><a href="/">Feedback</a></li>
    </ul>
</nav>
<footer><p>Designed by Gregoire CHALONY - provided on an as-is basis, no guarantee.</p></footer>
<script src="{{url_for('static', filename='js/welcome.js') }}"></script>
</body>
</html>