<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Name</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">
</head>
<body>
<h1>Bienvenue sur Code Name !</h1>


<div id="nickname-container">
    <label>Pseudo :</label>
    <input type="text" id="nickname" placeholder="Écris ton pseudo">
</div>
<div id="avatar-container">
    <div id="avatar">
        <h1>Avatar</h1>
        <div>
            <div class="h"><canvas id="av"></canvas></div>
            <div id="avatar-controls">
                <div class="controls">
                    <input type="color" value="#ffff00" id="backcol"/>
                    <input type="submit" value="<">
                    <input type="submit" value=">">
                </div>
                <div class="controls">
                    <input type="color" value="#ff0000" id="mouthcol"/>
                    <input type="submit" value="<">
                    <input type="submit" value=">">
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul>
        <li><a href="/new">Nouvelle partie</a></li>
        <!-- <li><a href="/">A propos</a></li>
        <li><a href="/">Feedback</a></li> -->
    </ul>
</nav>
<footer><p>Designed with love - provided on an as-is basis, no guarantee.</p></footer>
<script src="{{url_for('static', filename='js/welcome.js') }}"></script>
<script src="{{url_for('static', filename='js/avatar.js') }}"></script>
</body>
</html>