#players-container
{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
h1
{
    text-align: center;
}
#players
{
    width: 30%;
    border-radius: 30px;
}
#players { background: #fa8 }
#teams
{
    height: 70%;
    display: flex;
    justify-content: space-around;
}
#teams ul
{
    padding: 3px;
    border: solid black 1px;
    list-style-type: none;
}
#teams li
{
    margin: 5px;
    padding: 3px 20px;
    background: #bbb;
}
#start
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 10px 10px;
}
#start button {
    padding: 10px;
}
